.select-panel-content {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 240px;
    min-height: 80px;
    max-height: 360px;
    --padding-x: 8px;
    --border: 1px solid #e0e0e0;
}

.select-panel-header {
    display: grid;
    grid-template-areas:
        "title close";
    grid-template-columns: 1fr auto;
    height: fit-content;
    row-gap: 8px;
    padding: var(--padding-x);
}

.select-panel-title {
    grid-area: title;
    font-size: 14px;
    font-weight: 600;
}

.select-panel-close {
    grid-area: close;
    display: inline-flex;
    height: fit-content;
}

.select-panel-close:hover {
    background-color: #f5f5f5;
}

.select-panel-description {
    font-size: 12px;
    color: #666;
    grid-column: 1 / -1;
}

.select-panel-input-control {
    grid-column: 1 / -1;
}

.select-panel-input {
    border: var(--border);
    border-radius: 4px;
    font-size: 14px;
    height: 24px;
    width: 100%;
    padding: 0 12px;
}
