.select-panel-content {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 240px;
    min-height: 80px;
    max-height: 360px;
    --padding-x: 8px;
    --border: 1px solid #e0e0e0;
}
